[Unit]
Description=kDrive desktop synchronization client
Wants=network-online.target
After=graphical-session.target network-online.target
PartOf=graphical-session.target
RequiresMountsFor=%h/.local/bin/kDrive %h/.config/kDrive
StartLimitIntervalSec=5min
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=/usr/bin/test -x %h/.local/bin/kDrive
ExecStartPre=/usr/bin/test -r %h/.local/bin/sync-exclude.lst
ExecStart=%h/.local/bin/kDrive
Environment="KDRIVE_SENTRY_ENVIRONMENT="
Restart=on-failure
RestartSec=10s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kdrive

[Install]
WantedBy=graphical-session.target
